.cross-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cross-icon {
  position: relative;
}

.cross-icon .bar {
  position: absolute;
  left: -1px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 0;
  border-left: 1px solid var(--background);
  border-right: 1px solid var(--background);
  background: var(--background);
  transition: 200ms ease all;
}

.cross-icon .horizontal,
.cross-icon.expanded .vertical {
  rotate: calc(90deg); /* rotate so that bar is horizontal */
}

.cross-icon.expanded .horizontal {
  rotate: calc(-90deg); /* rotate it from 90 to -90 for extra movement */
}

.cross-icon .backslash {
  rotate: calc(-45deg);
}

.cross-icon .forwardslash {
  rotate: calc(45deg);
}