#about {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#about .h1-container .underline { background-color: var(--cream); }

.flex-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.about-text {
  width: 65%;
}

.about-text p {
  line-height: 1.75rem;
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .about-text { width: 100%; }
  .about-text p { font-size: 1rem; }
}
